# *Connecting ML model with Arduino*

### Making a model of Linear regression:
- Math formula for it is Y = mx + c 
- where Y is dependent variable
- m is slope
- x is independent variable 
- and c is intercept.

![](linear%20.png)

### Now what are the sensors in this equation?

![](sensors.png)

### Download the data set from
https://www.kaggle.com/datasets/dudkiewicz/raindata

# *Starting ML model*

In [2]:
# importing essential libraries
import pandas as pd 
import numpy as np 
from sklearn import linear_model

In [3]:
df = pd.read_csv('rain.csv')

In [5]:
# Displaying first 10 rows of the dataset.
df.head(10)

,datetime,humidity,pressure,temperature,weather_description,wind_direction,wind_speed,rain
0,2012-10-01 13:00:00,81.0,1027.0,281.800000,sky is clear,0.0,0.0,0
1,2012-10-01 14:00:00,80.0,1027.0,281.797217,sky is clear,2.0,0.0,0
2,2012-10-01 15:00:00,80.0,1028.0,281.789833,sky is clear,10.0,0.0,0
3,2012-10-01 16:00:00,79.0,1028.0,281.782449,sky is clear,17.0,0.0,0
4,2012-10-01 17:00:00,79.0,1029.0,281.775065,sky is clear,24.0,0.0,0
5,2012-10-01 18:00:00,78.0,1030.0,281.767681,few clouds,32.0,0.0,0
6,2012-10-01 19:00:00,77.0,1031.0,281.760297,few clouds,39.0,0.0,0
7,2012-10-01 20:00:00,77.0,1031.0,281.752912,few clouds,47.0,0.0,0
8,2012-10-01 21:00:00,76.0,1032.0,281.745528,few clouds,54.0,0.0,0
9,2012-10-01 22:00:00,76.0,1033.0,281.738144,few clouds,61.0,0.0,0

In [6]:
# Now eliminating unnesessary column.
del df['datetime']

In [11]:
# check null values
df.isnull().sum()

humidity               288
pressure                12
temperature              2
weather_description      0
wind_direction           0
wind_speed               0
rain                     0
dtype: int64

In [12]:
# Filling all null values with its column's mean value
df = df.fillna(df.mean())

C:\Users\DEVARSHI SHAH\AppData\Local\Temp\ipykernel_14984\114435927.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df = df.fillna(df.mean())

In [13]:
# Now let's again check if there are any null values.
df.isnull().sum()

humidity               0
pressure               0
temperature            0
weather_description    0
wind_direction         0
wind_speed             0
rain                   0
dtype: int64

In [14]:
# Displaying first 5 rows of the dataset.
df.head()

,humidity,pressure,temperature,weather_description,wind_direction,wind_speed,rain
0,81.0,1027.0,281.800000,sky is clear,0.0,0.0,0
1,80.0,1027.0,281.797217,sky is clear,2.0,0.0,0
2,80.0,1028.0,281.789833,sky is clear,10.0,0.0,0
3,79.0,1028.0,281.782449,sky is clear,17.0,0.0,0
4,79.0,1029.0,281.775065,sky is clear,24.0,0.0,0

In [15]:
# Displaying last 5 rows of the dataset.
df.tail()

,humidity,pressure,temperature,weather_description,wind_direction,wind_speed,rain
45247,93.0,1030.0,280.82,light rain,190.0,4.0,1
45248,87.0,1030.0,281.65,overcast clouds,130.0,5.0,0
45249,93.0,1029.0,282.75,broken clouds,210.0,5.0,0
45250,87.0,1028.0,282.96,broken clouds,210.0,3.0,0
45251,75.0,1028.0,283.04,few clouds,100.0,4.0,0

## We do not train and test this data otherwise it will get overfit.

In [17]:
# creating object for linear model
reg = linear_model.LinearRegression()
# now fitting the data=training linear regression model using available data
reg.fit(df[['humidity','pressure','temperature','wind_direction','wind_speed']],df.rain)

LinearRegression()

# *According to our dataset*
formula(Y) = a* humidity + b* pressure + c* temperature + d* wind_direction + e* wind_speed + intercept(x)

In [19]:
# let's calculate value of a,b,c,d,e in our equation
reg.coef_

array([ 0.006641  , -0.00114678,  0.00206208,  0.00028666,  0.02740829])

In [20]:
# let's calculate value of x in our equation
reg.intercept_

0.18270520831548592

In [22]:
# Now finding Y's value
reg.predict([[91.0,1033.0,286.82,197.0,4.3]])

c:\Users\DEVARSHI SHAH\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.36818076])

In [23]:
Ans = 0.006641*91.0 - 0.00114678*1033.0 + 0.00206208*286.82 + 0.00028666*197.0 + 0.02740829*4.3 + 0.18270520831548592

In [24]:
Ans

0.36818592091548596

# *Adding the below code to proteus 8*

![](code1.png)

![](code2.png)

# *Making a prototype*

![](pro_sensors.jpeg)

## 1. LDR sensor

![](LDR.png)

## 2. Rainfall sensor

![](rainfall%20.png)

## 3. Arduino and bmp180 sensor and DTH11 sensor

![](other.png)